h1 {
    text-align: center;
}
h3 {
    color: #2349aa;
    text-decoration: underline;
}
body {
    background-color: #bb90bb;
    font-family: Ayuthaya;
}
body {
    color: gold;
    position: relative;
    z-index: 1;
    background-image: url("https://img.freepik.com/premium-vector/scandinavian-viking-brush-wallpaper_144316-127.jpg?w=1060");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style: none;
}

.theta li::before {
    list-style: none;
    content: "\03B8";
    padding: 10px;
}

td, tr {
    font-size: 18px;
    padding: 4px;
}
a {
    color: #1b5959;
}
a:hover {
    color: #f8f8b8;
}